.gameImage{
    width: 80%;
    height: auto;
    border-radius: 4%;
}
.flexDetailContainer{
    margin-top: 5%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.cardDetail{
    margin: 2% 0 2% 0;
    color: white;
    text-align: center;

}
.priceStock{
 margin-bottom: 30%;
}
.title{
    font-size: 45px;
}