.gameImage{
    width: 80%;
    height: auto;
    border-radius: 4%;
}
.flexDetailContainer{
    margin-top: 5%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.contentBox{
    border-color: rgb(188, 29, 202);
    border-width: 5px;
    border-style: solid;
}